
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~select2/dist/css/select2.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.select2-selection__rendered {
  line-height: 31px !important;
}
.select2-container .select2-selection--single {
  height: 35px !important;
}
.select2-selection__arrow {
  height: 34px !important;
}
.select2-dropdown .select2-results__group {
  font-weight: bold;
  color: #000000;
  background: $lightGray;
}

.bg-light-gray {
  background: #f8f8f8;
  border-radius: 5px;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  z-index: 99999;
  -ms-transform: scale(5); /* IE 9 */
  -webkit-transform: scale(5); /* Safari 3-8 */
  transform: scale(5);
}

.tbl-row-selected {
  background-color: #becdea;
}

/* width */
body::-webkit-scrollbar, .nav-wrapper::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track, .nav-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb, .nav-wrapper::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border: 1px solid #585858;
  border-radius: 8px;
  transition: 1s;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover, .nav-wrapper::-webkit-scrollbar-thumb:hover {
  background: #dcdcdc;
}