.input-required:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 4px;
}
.material-icons.essential-menu {
    color: #1e8000;
}
.main-sidebar .dropdown-menu .dropdown-item.active {
    background-color: #e5f0f5;
}

.pre-x-scrollable {
    /*overflow: auto;
    -ms-word-wrap: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: pre;

    -moz-box-shadow:    inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    box-shadow:         inset 0 0 3px #000000;*/
}

.user-details__avatar {
    max-width: 15.25rem;
    border-radius: 0;

}
.user-details .card-body {
    margin-top: -5rem;
}
.DTFC_LeftWrapper table, .DTFC_RightWrapper table {
    background: rgba(249, 249, 249, 0.59);
}

.t-highlighted {
    background: #93a8ff;
    color: #000;
}
.filter-name {
    display: block;
    margin-top: .25rem;
    font-size: 80%;
    color: #17c671;
}
.inner-tbl td, .inner-tbl th {
    padding: .10rem .75rem;
}
.inner-tbl .table {
    margin-bottom: 0;
}

